html, body {
    height: 100%;
}
body {
    background: #ECEFF1;
    color: #455A64;
}

/* Utilities */
.flex {
    display: flex;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.block {
    display: block;
}
.mb-10 {
    margin-bottom: 10px;
}

/* General */
.avatar-lg {
    width: 108px;
    border-radius: 4px;
}
.avatar {
    width: 80px;
    border-radius: 4px;
}
.fa-heart {
    color: rgb(255, 0, 0);
}
.fa-heart:hover {
    cursor: pointer;
}

/* Article */
.article-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.article-image {
    width: 80%;
    display: block;
    margin: 20px auto;
}
.article-image-thumbnail {
    width: 200px;
    padding: 10px;
}
.article-summary {
    padding: 10px;
}
.article-summary-header {
    font-size: 1.4em;
    margin-bottom: 0;
}
.article-meta {
    color: #78909C;
}

/* Comment */
.comment-create {
    display: flex;
}
.comment-create > div {
    padding: 10px;
}
.comment-create > form {
    flex-grow: 1;
    padding: 10px;
}
.comment {
    display: flex;
}
.comment > div {
    padding: 10px;
}
.comment-meta {
    color: #78909C;
}

/* Temporary */
.content {
    margin-top: 20px;
}
.admin-comments {
    color: #004D40;
}