<hr>
<h2>Comments [{{ comments|length }}]</h2>

{% include 'articles/comment_create.html.twig' %}   

{% for comment in comments %}
    {% include 'articles/comment.html.twig' with { comment: comment } %}
{% endfor %}
