<div class="comment">
    <div>
        <img class="avatar" src="{{ asset('images/rendall.jpg') }}">
    </div>
    <div>
        <span class="comment-meta">
            <strong>{{ comment.authorName }} </strong> wrote <strong>{{ comment.createdAt|ago }}</strong>
        </span>
        {% if comment.isDeleted %}
            <span class="fas fa-times"></span> deleted
        {% endif %}
        <div>
            {{ comment.content }}
        </div>
        <a href="">Reply</a>
    </div>
</div>
