<div class="comment-create">
    <div>
        <img class="avatar-lg" src="{{ asset('images/boo.jpg') }}">
        <span class="block"><strong>Boo</strong></span>     
    </div>
    <form>
        <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Enter your comment here"></textarea>
        </div>
        <div class="form-group right">
            <button class="btn btn-sm btn-primary">Post a comment</button> 
        </div>
    </form>
</div>
