{% extends 'base.html.twig' %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
<div class="container">
    <h1>Article index</h1>
    {% for article in articles %}
        <div class="flex">
            <div>
               <img class="article-image-thumbnail" src="{{ asset(article.imagePath) }}">
            </div>
            <div class="article-summary">
                <h2 class="article-summary-header">
                    <a href="{{ path('articles_show', { slug: article.slug }) }}">
                        {{ article.title }}
                    </a>
                </h2>
                <small>{% include 'articles/tags.html.twig' with { tags: article.tags } %}</small>
                <div class="article-meta">
                    published: <strong>{{ article.publishedAt ? article.publishedAt|ago }}</strong>
                    by: <strong>{{ article.author }}</strong>, 
                    has <strong>{{ article.nonDeletedComments|length }}</strong> comment
                </div>
                <div>
                    {{ article.content|truncate(180)|markdown }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
