{% extends 'content_base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content_body %}
    <div class="article-header">
        <div>
            <h1>{{ article.title }}</h1>
            <div>published: <strong>{{ article.publishedAt ? article.publishedAt|ago }}</strong></div>
            <div>by: <strong>{{ article.author }}</strong></div>
            {% include 'articles/tags.html.twig' with { tags: article.tags } %} 
        </div>
        <div>
            <span class="js-like-article-count">{{ article.likesCount }}</span> 
            <a href="{{ path('articles_toggle_likes', { slug: article.slug }) }}" class="far fa-heart js-like-article"></a>
        </div>
    </div>
    <div>
        <img class="article-image" src="{{ asset(article.imagePath) }}">
    </div>
    {{ article.content|cached_markdown }}
    {% include 'articles/comments.html.twig' with { comments: article.nonDeletedComments } %} 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/articles_show.js') }}"></script>
{% endblock %}
