{% extends 'content_base.html.twig' %}

{% block title %}Manage Comments{% endblock %}

{% block content_class %} {{ parent() }} admin-comments {% endblock %}

{% block content_body %}
<h1>Manage Comments ({{ pagination.getTotalItemCount }})</h1>

<form class="input-group mb-10">
    <input class="form-control" type="text" name="q" value="{{ q }}" placeholder="Search comment...">
    <div class="input-group-appand">
        <button type="submit" class="btn btn-outline-secondary">
            <span class="fa fa-search"></span>
        </button>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Article</th>
            <th>Autor</th>
            <th>Content</th>
            <th>createdAt</th>
            <th>isDeleted</th>
        </tr>
    </thead>
    {% for comment in pagination %}
        <tr>
            <td>
                <a href="{{ path('articles_show', { slug: comment.article.slug }) }}">
                    {{ comment.article.title }}
                </a>
            </td>
            <td>{{ comment.authorName }}</td>
            <td>{{ comment.content|truncate(80) }}</td>
            <td style="min-width: 120px;">{{ comment.createdAt|date('Y-m-d') }}</td>
            <td>{{ comment.isDeleted ? 'true' : 'false' }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="text-center">
                No comments found
            </td>
        </tr>
    {% endfor %}
</table>
{# display pages navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
